body {
  background: url('../img/blue.jpg') no-repeat center center fixed;
  background-size: cover;
}

.login-container {
  width: 450px;
  height: 430px;
  margin: 10% auto;
  background-color: rgba(255, 255, 255, 0.407843);
  border-radius: 10px;
  color: lightslategray;
}

.login-header {
  height: 39px;
  padding: 10px;
  border-bottom: 1px solid aliceblue;
}

.login-header h1 {
  text-align: center;
  font-size: 25px;
  line-height: 40px;
}

.avatar {
  display: block;
  width: 96px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.avatar img {
  border-radius: 4px;
}

.login-main {
  height: 285px;
  padding: 30px 90px 0;
}

.login-main .layui-form-item {
  position: relative;
}

.login-main .layui-form-item .login-icon {
  position: absolute;
  color: lightslategrey;
  top: 10px;
  left: 10px;
}

.login-main .layui-form-item input {
  padding-left: 34px;
}

.login-post {
  text-align: center;
}
