<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <title>Plakeco Admin</title>
  <link rel="stylesheet" href="../assets/layui/css/layui.css" />
  <script src="../assets/layui/layui.js"></script>
</head>

<body class="layui-layout-body">
  <div class="layui-layout layui-layout-admin">
    <div class="layui-header">
      <div class="layui-logo">Plakeco 后台管理</div>
      <!-- 头部区域（可配合layui已有的水平导航） -->
      <ul class="layui-nav layui-layout-left">
        <% for(var i=0;i<systemItem.length;i++){ %>
        <li class="layui-nav-item"><a id=<%= systemItem[i].name %> href="javascript:;"
            data-href=<%= systemItem[i].path %>><%= systemItem[i].name %></a></li>
        <% }%>
        <!-- <li class="layui-nav-item" id="authView"><a href="javascript:;">权限查看</a></li>
        <li class="layui-nav-item" id="authManage"><a href="javascript:;">权限管理</a></li> -->
        <li class="layui-nav-item"><a href="javascript:;">用户</a></li>
        <li class="layui-nav-item">
          <a href="javascript:;">其它</a>
          <dl class="layui-nav-child">
            <dd><a href="/usercenter">用户中心</a></dd>
            <dd><a href="">安全设置</a></dd>
          </dl>
        </li>
      </ul>
      <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
          <a href="/usercenter">
            <!-- <img src="http://t.cn/RCzsdCq" class="layui-nav-img"> -->
            欢迎您, <span id="user"><%=userName%></span>
          </a>
        </li>
        <li class="layui-nav-item"><a href="/logout">注销</a></li>
      </ul>
    </div>
    <div class="layui-footer">
      <!-- 底部固定区域 -->
      © www.plakeco.com - 底部固定区域
    </div>
  </div>
  <script>
    //JavaScript代码区域
    layui.use(["element", "tree"], function () {
      var element = layui.element;
      var $ = layui.jquery;
      var tree = layui.tree;

      console.log('123')
      var all = [];
      $('#权限查看').on('click', (e) => {
        var main = $('#main-display');
        if (all.length === 0) {
          main.children().remove();
          var id = $('#user').text();
          main.html(id);
          main.append('<div id = "authTree"></div>')

          $.ajax({
            url: '/find',
            type: 'get',
            success: function (data) {
              console.log(data);
              data.forEach(e => {
                let page = [];
                let system = [];
                e.page_url.forEach(data => {
                  if (data.hasAuth === true) {
                    page.push({
                      title: data.name,
                      id: e.username + '-' + data.name
                    })
                  }
                })
                e.system_url.forEach(data => {
                  if (data.hasAuth === true) {
                    system.push({
                      title: data.name,
                      id: e.username + '-' + data.name
                    })
                  }
                })
                all.push({
                  title: e.username,
                  children: [{
                    title: '模型权限',
                    children: page,
                    id: e.username + '-page_url'
                  }, {
                    title: '系统权限',
                    children: system,
                    id: e.username + '-system_url'
                  }, ],
                  id: e.username
                })
              })
              tree.render({
                elem: '#authTree',
                data: all
              });
            }
          })
        }
        tree.render({
          elem: '#authTree',
          data: all
        })
      })
      $('#权限管理').on('click', (e) => {
        var main = $('#main-display');
        main.children().remove();
        var id = $('#user').text();
        main.html(id);
        main.append('<div id = "authTree"></div>')
        tree.render({
          elem: '#authTree',
          data: all,
          edit: ['add', 'update', 'del'],
          click: function (obj) {
            layer.msg(JSON.stringify(obj.data));
          },
          operate: function (obj) {
            var type = obj.type;
            var data = obj.data
            var elem = obj.elem;
            console.log(type);
            console.log(data);
            var curr = data.id
            console.log(curr);
            if (type === 'add') {
              if (curr)
                return curr + '-';
              else return 'no-id';
            } else if (type === 'update') {
              var title = elem.find('.layui-tree-txt').html();

              if (data.id) {
                data.id = data.id + title;
                var temp = data.id.split('-');
                var json = {};
                console.log(temp);
                json.username = temp[0];
                if (temp.length === 3) {
                  json[temp[1]] = {
                    'name': temp[2]
                  }
                } else {
                  json[temp[1]] = '';
                }
                console.log(json);
                $.ajax({
                  url: '/update',
                  type: 'post',
                  data: json,
                  success: function (data) {
                    console.log(data);
                  }
                })
              }
            } else if (type === 'del') {
              console.log('删除 ' + elem.find('.layui-tree-txt').html())
            }
          }
        })
      })

    });
  </script>
